*.016
/*.256
29NSU选4
*.sav
*.MPR
*.mmx
/*.dll
*.mmp
*.wav
*.mix
*.dat
*.yro
*.exe
*.dsk
*.csf
*.reg
*.key
*.ico
*.ini
*.lcf
*.rar
*.txt
*.WSU
*.tlb
Updater.bat
/G9U
/W9
*.bin
*.CFG
*.com
*.img
*.map
*.WAR
*.sys
